.oc-form button, .oc-form input[type="submit"] {

}

.oc-btn {

  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid #f3f3f3;
  font-weight: 600;

  transition: 0.3s all;

  &.oc-btn--primary {

    background-color: $blue;
    border-color: $blue;
    color: #fff;

    &:hover {
      background-color: lighten($blue, 20%);
    }
  }

  &.oc-btn--secondary {

    background-color: $green;
    border-color: $green;
    color: #fff;

    &:hover {
      background-color: lighten($green, 20%);
    }
  }

  &.oc-btn--danger {

    background-color: $red;
    border-color: $red;
    color: #fff;

    &:hover {
      background-color: lighten($red, 20%);
    }
  }

  &.oc-btn--warning {

    background-color: $orange;
    border-color: $orange;
    color: #fff;

    &:hover {
      background-color: lighten($orange, 20%);
    }
  }

  &~& {
    margin-left: 10px;
  }

  &.oc-btn--small {
    font-size: 12px;
    padding: 6px 20px;
  }


}


