.echo-logger {
  display: block;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  padding-left: 20px;
  width: 50%;
  border-left: $blue 5px solid;

  .echo-logger-text {

    margin: 0 !important;

    .success {
      color: $blue;
      text-decoration: underline;
    }

    .danger {
      color: $red;
      text-decoration: underline;
    }
  }

}
