.oc-container {
  padding: 0 15px;
  padding-left: 0;
}

.oc-collection-container{
  background-color: #fff;

}

.container-head {
  padding: 10px 25px;
  border-bottom: 1px solid $gray;

  h3 {
    margin: 0;
  }
}

.container-body {
  padding: 25px;
}
