._text-right {
  text-align: right !important;
}

._text-center {
  text-align: center !important;
}

._text-justify {
  text-align: justify !important;
}

._text-left {
  text-align: left !important;
}

._text-blue {
  color: $blue !important;
}

._text-red {
  color: $red !important;
}

._text-green {
  color: $green !important;
}

._text-orange {
  color: $orange !important;
}

._text-dark {
  color: #2D2D2D !important;
}

._text-light {
  color: #FFF5F5 !important;
}

._text-primary {
  color: $blue !important;
}

._text-warning {
  color: $orange !important;
}

._text-danger {
  color: $red !important;
}

._text-success {
  color: $green !important;
}

._text-muted {
  color: #666 !important;
}

._h1 {
  font-size: 2.5em !important;
  font-weight: 700 !important;
}

._h2 {
  font-size: 2em !important;
  font-weight: 700 !important;
}

._h3 {
  font-size: 1.75em !important;
  font-weight: 700 !important;
}

._h4 {
  font-size: 1.5em !important;
  font-weight: 700 !important;
}

._h5 {
  font-size: 1.25em !important;
  font-weight: 700 !important;
}

._h6 {
  font-size: 1em !important;
  font-weight: 700 !important;
}

._h1--xl {
  font-size: 3.25em !important;
}

._text-emphasize {
  font-weight: 700 !important;
  font-size: 3.25em !important;
}

@media only screen and (max-width: 1199px) {
  ._text-emphasize {
    font-size: 2.5em !important;
  }
}

@media only screen and (max-width: 575px) {
  ._text-emphasize {
    font-size: 2em !important;
  }
}

._font-light {
  font-weight: 300 !important;
}

._font-regular {
  font-weight: 400 !important;
}

._font-medium {
  font-weight: 500 !important;
}

._font-semibold {
  font-weight: 600 !important;
}

._font-bold {
  font-weight: 700 !important;
}

._font-extrabold {
  font-weight: 800 !important;
}

._font-black {
  font-weight: 900 !important;
}

._font-italic {
  font-style: italic !important;
}